@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
.bg{
  background: rgb(0,0,0);
  background: linear-gradient(99deg, rgba(0,0,0,0.8982186624649859) 28%, rgba(162,102,104,0.19233630952380953) 100%);
}
.backdrop{
/* From https://css.glass */
color: white;
background: rgba(28, 27, 27, 0.40);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
/* border: 1px solid rgba(28, 27, 27, 0.3); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }